.ti{
    text-align: center;
    color: rgb(21, 7, 34);
    font-size: larger;
    font-weight: 600;
    text-transform: uppercase ;
    margin: 70px 0 30px ;
}
.ti h1{
    font-size: 40px;
    margin-top: 10px;
    transform: none;
}






