@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body{
  background-color: #f5f5f5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.ct{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: hsl(0, 14%, 93%);
  color: black;
  padding: 14px 25px;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.btn.dark-btn{
  background: rgb(7, 7, 37);
  color: #f5f5f5;
}